@model IEnumerable<INSE6260.OnlineBanking.Model.Payee.Payee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            NickName
        </th>
        <th>
            AccountNo
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NickName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountNo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PayeeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PayeeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PayeeID })
        </td>
    </tr>
}

</table>
